<div class="row">
  <div class="col-md-4" style="margin-top: 10px;">
    <b>Maintaining Institutes</b>
    <ul class="list-unstyled" style="margin-top: 10px;">
      <li><a href="http://www.ipb-halle.de/en">Leibniz Institute of Plant Biochemistry (Halle)</a></li>
      <li><a href="https://www.uni.lu/lcsb-en/">LCSB, University of Luxembourg</a></li>
    </ul>
  </div>
  <div class="col-md-4" style="margin-top: 10px;">
    <b>External Links</b>
    <ul class="list-unstyled" style="margin-top: 10px;">
      <li><a href="https://github.com/ipb-halle/MetFrag">GitHub repository (web pages)</a></li>
      <li><a href="https://github.com/ipb-halle/MetFragRelaunched">GitHub MetFragRelaunched</a></li>
    </ul>
  </div>

  <div class="col-md-4"  style="margin-top: 10px;">
    <b>MetFrag Web Interface</b>
     <ul class="list-unstyled">
      <li><a href="https://msbi.ipb-halle.de/MetFrag">MetFragWeb</a></li>
      <li><a href="https://msbi.ipb-halle.de/MetFragBeta">MetFragWeb (beta)</a></li>
    </ul> 
  </div>
</div>
<div class="row">
 <div class="col-md-6" style="margin-top: 10px;">
  <b>Acknowledgment</b>
  <ul class="list-unstyled" style="margin-top: 10px;">
   <li><span style="float: left"><a href="http://www.denbi.de/"><img height="40px" src="/MetFrag/images/deNBI_logo.png"></a></span></li><br>
   <li><span style="width: 100%; float: left"><a href="http://www.denbi.de/">German Network for Bioinformatics Infrastructure</a></span></li>
  </ul>	
 </div>
 <div class="col-md-6" style="margin-top: 10px;">
  <b>Acknowledgment</b>
  <ul class="list-unstyled" style="margin-top: 10px;">
   <li><span style="float: left"><a href="https://www.fnr.lu/"><img height="40px" src="/MetFrag/images/FNR_LOGO.png"></a></span></li><br>
   <li><span style="width: 100%; float: left"><a href="https://www.fnr.lu/">Luxembourg National Research Fund (FNR)</a></span></li>
  </ul>	
 </div>
 <div class="col-md-6" style="margin-top: 10px;">
  <span style="color: #555"><b>Acknowledgment</b></span>
  <ul class="list-unstyled" style="margin-top: 10px;">
   <li><span style="float: left"><a href="http://www.solutions-project.eu/"><img height="40px" src="/MetFrag/images/solutions.jpg"></a></span></li><br>
   <li><span style="width: 100%; float: left"><a href="http://www.solutions-project.eu/">EU FP7 project SOLUTIONS</a> under Grant Agreement No. 603437</span></li>
  </ul>
 </div>
 <div class="col-md-6" style="margin-top: 10px;">
  <span style="color: #555"><b>Acknowledgment</b></span>
  <ul class="list-unstyled" style="margin-top: 10px;">
   <li><span style="float: left"><img src="https://www.yourkit.com/images/yklogo.png"></span></li>
   <li><span style="float: left">YourKit supports open source projects with its full-featured Java Profiler.
YourKit, LLC is the creator of <a href="https://www.yourkit.com/java/profiler/index.jsp">YourKit Java Profiler</a>
and <a href="https://www.yourkit.com/.net/profiler/index.jsp">YourKit .NET Profiler</a>,
innovative and intelligent tools for profiling Java and .NET applications.</span></li>
  </ul>
 </div>
</div>
