<div class="row">
  <div class="col-md-4">
    <b>Related Projects</b>
    <ul class="list-unstyled">
      <li><a href="http://mgerlich.github.io/MetFusion/">MetFusion</a></li>
      <li><a href="http://www.solutions-project.eu/">Solutions</a></li>
    </ul>
  </div>
  <div class="col-md-4">
    <b>External Links</b>
    <ul class="list-unstyled">
      <li><a href="https://github.com/c-ruttkies/MetFrag">Github repository</a></li>
      <li><a href="http://www.ipb-halle.de/en">Leibniz Institute of Plant Biochemistry (Halle)</a></li>
    </ul>
  </div>

  <div class="col-md-4">
     <ul class="list-unstyled">
      <li><a href="http://msbi.ipb-halle.de/MetFragBeta">MetFragWeb</a></li>
      <li><a href="http://msbi.ipb-halle.de/MetFrag">MetFragWeb 2010</a></li>
    </ul> 
  </div>
</div>
