<div class="row">
  <div class="col-md-4">
    <b>Related Projects</b>
    <ul class="list-unstyled">
      <li><a href="http://mgerlich.github.io/MetFusion/">MetFusion</a></li>
      <li><a href="http://www.solutions-project.eu/">Solutions</a></li>
    </ul>
  </div>
  <div class="col-md-4">
    <b>External Links</b>
    <ul class="list-unstyled">
      <li><a href="https://github.com/c-ruttkies/MetFrag">Github repository</a></li>
      <li><a href="http://www.ipb-halle.de/en">Leibniz Institute of Plant Biochemistry (Halle)</a></li>
    </ul>
  </div>

  <div class="col-md-4">
     <ul class="list-unstyled">
      <li><a href="http://msbi.ipb-halle.de/MetFrag">MetFragWeb 2010</a></li>
      <li><a href="http://msbi.ipb-halle.de/MetFragBeta">MetFragWeb <span style="color:red;font-weight:bold">beta</span></a></li>
    </ul> 
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <b>Contribution</b>
YourKit supports open source projects with its full-featured Java Profiler.
YourKit, LLC is the creator of <a href="https://www.yourkit.com/java/profiler/index.jsp">YourKit Java Profiler</a>
and <a href="https://www.yourkit.com/.net/profiler/index.jsp">YourKit .NET Profiler</a>,
innovative and intelligent tools for profiling Java and .NET applications.
  </div>
</div>
