<ul class="nav navbar-nav navbar-right">
  <li class="{{ page.nav.home }}"><a href="/MetFrag">Home</a></li>
<!--
  <li class="dropdown {{  page.nav.about }}">
  <a href="/MetFrag/about" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><a href="/MetFrag/about">Overview</a></li>
    <li><a href="/MetFrag/contact">Contact us</a></li>
  </ul>
  </li>
  -->
  <li class="dropdown {{ page.nav.projects }}">
  <a href="/MetFrag/projects" class="dropdown-toggle" data-toggle="dropdown">Projects <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><a href="/MetFrag/projects/metfragweb">MetFragWeb<span style="padding-left: 5px; color: red">new</span></a></li>
    <li><a href="/MetFrag/projects/metfragcl">MetFrag CL<span style="padding-left: 5px; color: red">new</span></a></li>
    <li><a href="/MetFrag/projects/metfragr">MetFragR<span style="padding-left: 5px; color: red">new</span></a></li>
    <li><a href="/MetFrag/projects/metfragweb2010">MetFragWeb 2010</a></li>
    <li><a href="/MetFrag/projects/commandline">MetFrag CL v2010</a></li>
     <hr>
    <li><a href="/MetFrag/projects/converter">Converters</a></li>

  </ul>
  </li>

  <li class="dropdown {{ page.nav.contribute }}">
  <a href="/MetFrag/specs" class="dropdown-toggle" data-toggle="dropdown">Contribute <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><a href="https://github.com/ipb-halle/MetFragRelaunched">Code Repository</a></li>
    <li><a href="https://github.com/ipb-halle/MetFragRelaunched/issues">View/Submit Issues</a></li>
  </ul>
  </li>

  <li class="{{ page.nav.news }}"><a href="/MetFrag/news">News</a></li>
  <li class="{{ page.nav.contact }}"><a href="/MetFrag/contact">Contact</a></li>
</ul>

